<a href="https://colab.research.google.com/github/Danielle-Aguado/CPEN65-1/blob/main/Array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Accessing the Elements in the Array
animals=["cat","dog","fish"]
x=animals[0]
y=animals[1]
z=animals[2]
print(x)
print(y)
print(z)

cat
dog
fish

In [2]:
#Modifying the Elements in the Array
animals=["cat","dog","fish"]
animals[0]="monkey"
x=animals[0]
print(x)
print(animals)

monkey
['monkey', 'dog', 'fish']

In [3]:
#Length of an Array
animals=["monkey","dog","fish","cat","birds"]
v=len(animals)
print(v)

5

In [4]:
#Looping Array Elements
animals=["monkey","dog","fish","cat","birds"]
for index, val in enumerate(animals):
  print(index,val)

0 monkey
1 dog
2 fish
3 cat
4 birds

In [5]:
#Adding Elements in the Array
animals=["monkey","dog","fish","cat","birds"]
animals.append("lion")
print(animals)

['monkey', 'dog', 'fish', 'cat', 'birds', 'lion']

In [6]:
#Write a Python program to insert a new item ('11') before the second element in an existing array.
#Original array: numbers = [1,2,3,4,5,6,7,8,9,10]
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers.insert(1,11)
print(numbers)

[1, 11, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
#Removing element/s in a Array

print(numbers)
numbers.pop(1)
print(numbers)

[1, 11, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]